DATABASE_URL = "postgresql://user:pass@localhost/mydb?sslmode=require"
PORT=3000
JWT_SECRET_KEY=
JWT_EXPIRES_IN=24h
CLIENT_ID=
CLIENT_SECRET=
GITHUB_API_URL=https://github.com/login/oauth/access_token
GITHUB_URL_USER= https://api.github.com/user
FRONTEND_URL=http://localhost:5173
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_API_URL=https://oauth2.googleapis.com/token
GOOGLE_API_USER=https://www.googleapis.com/oauth2/v1/userinfo
GOOGLE_REDIRECT_URI=